.logo {
    width: 200px;
    height: 200px;
    margin: 0px auto;
}

    .logo > img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

.content {
    width: 90%;
    margin-left: 5%;
    /* border: 1px solid red; */
}
    .content .component {
        border-bottom: 1px solid #d6d6d6;
    }
        .content .component .title-component {
            margin-top: 15px;
            font-size: 20px;
            display: inline-block;
            color: #555555;
        }

            .content .component .title-modal {
                border-bottom: 3px solid #F65454;
            }


            .content .component .title-alert-message {
                border-bottom: 3px solid #01B075;
            }

            .content .component .title-menu-dropdown {
                border-bottom: 3px solid #F0C419;
            }

                .content .component .title-component > a {
                    text-decoration: none;
                    color: #555555;
                }

            .content .component .list-button-test {
                margin-top: 15px;
                margin-bottom: 15px;
            }

                .content .component .button {
                    min-width: 100px;
                    height: 35px;
                    cursor: pointer;
                    outline: none;
                    border: none;
                    border-radius: 5px;
                    font-size: 13px;
                    color: #ffffff;
                    margin-right: 10px;
                    transition: 0.1s;
                }

                .content .component .list-button-test .modal-message {
                    background-color: #01B075;
                }

                .content .component .list-button-test .modal-warning {
                    background-color: #F0C419;
                }

                .content .component .list-button-test .modal-error {
                    background-color: #F65454;
                }

                .content .component .list-button-test .alert-message-done {
                    background-color: #01B075;
                }

                .content .component .list-button-test .alert-message-info {
                    background-color: #0075ff;
                }

                .content .component .list-button-test .alert-message-warning {
                    background-color: #F0C419;
                }

                .content .component .list-button-test .alert-message-error {
                    background-color: #F65454;
                }

