.logo {
    width: 200px;
    height: 200px;
    margin: 0px auto;
}

    .logo > img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

.title-page {
    text-align: center;
}

.content {
    width: 90%;
    margin-left: 5%;
    /* border: 1px solid red; */
}
    .content .component {
        border-bottom: 1px solid #d6d6d6;
    }
        .content .component .title-component {
            margin-top: 15px;
            font-size: 20px;
            display: inline-block;
            color: #555555;
        }
            .content .component .title-component > a {
                text-decoration: none;
                color: #555555;
            }

            .content .component .list-item-test .menu-dropdown{
                margin-top: 15px;
                margin-bottom: 15px;
            }

            .content .component .table-item {
                max-height: 500px;
                overflow: scroll;
            }

                .content .component .table-item::-webkit-scrollbar {
                    width: 8px;
                    height: 8px;
                }
            
                .content .component .table-item::-webkit-scrollbar-track-piece {
                    background: #bbbbbb; 
                }
            
                .content .component .table-item::-webkit-scrollbar-thumb {
                    background: #454545 ; 
                }
        
                    .content .component .table-item > .table-test > thead > tr > th:nth-child(4) {
                        text-align: center;
                    }
                
                    .content .component .table-item > .table-test  > thead > tr > th:nth-child(9) {
                        text-align: right;
                    }
                    
                    .content .component .table-item > .table-test  > tbody > tr > td:nth-child(4) {
                        text-align: center;
                    }
            
                    .content .component .table-item > .table-test  > tbody > tr > td:nth-child(9) {
                        text-align: right;
                    }

        .content .component .discription {
            margin-top: 10px;
            margin-bottom: 10px;
            max-width: 70%;
            font-size: 15px;
        }

    

